// stylesheets/components/Author.scss
// ----------------------------------
//
// @author  Natcha Luang - Aroonchai <me@nomkhonwaan.com>
// @created May 8, 2016
//

@charset 'UTF-8';

@import '../_base';

.author {
  background: #f2f2f2;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin-top: 48px;
  padding: 12px 0;

  @media (min-width: $screen-medium) {
    margin-top: 0;
    padding: 24px 0;
  }
  
  > .avatar {
    display: block;
    
    img {
      background: #fff;
      border-radius: 50%;
      height: 64px;
      padding: 2px;
      width: 64px;
    }
  }
  
  > .description {
    color: #808080;
    font-size: 1.6rem;
    margin: 8px auto 0;
  }
  
  > .location {
    color: #999;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 4px;
  }
}