// stylesheets/components/Nav.scss
// -------------------------------
//
// @author  Natcha Luang - Aroonchai <me@nomkhonwaan.com>
// @created May 6, 2016
//

@charset 'UTF-8';

@import '../_base';

.layout-nav {
  @extend .container;
  
  @media (max-width: $screen-small) {
    background: #fff;
    border-bottom: 1px solid #ececec;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  @media (min-width: $screen-medium) {
    align-items: center;
    background: #78909c;
    display: flex;
    flex-flow: row;
    justify-content: center;
    max-width: 100%;
  }
  
  .menu-list {
    display: block;
    
    @media (max-width: $screen-small) {
      background: #fff;
      border-top: 1px solid #ececec;
      border-right: 1px solid #ececec;
      bottom: 0;
      left: -100%;
      padding: 12px;
      position: fixed;
      right: 0;
      top: 48px;
      transition: left .2s ease-in-out;
      width: 48%;
      z-index: 99;
      
      &.expanded {
        left: 0;
      }
    }
    
    > .menu-item {
      display: block;
      
      @media (min-width: $screen-medium) {
        display: inline-block;
      }
      
      > a {
        color: #4d4d4d;
        border-radius: .2rem;
        display: block;
        font-size: 1.1rem;
        line-height: initial;
        padding: 12px;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        
        @media (min-width: $screen-medium) {
          color: #f2f2f2;
          display: inline-block;
        }
        
        &:hover,
        &.actived {
          background: rgba(0,0,0,.08);
        }
      }
    }
  }
  
  > .btn-toggle {
    background: #fff;
    border: 1px solid #ececec;
    border-radius: .2rem;
    color: #666;
    cursor: pointer;
    font-size: 1rem;
    height: 24px;
    margin: 12px;
    text-transform: uppercase;
    transition: background .2s ease-in-out;
    width: 48px;
    
    &:hover {
      background: #f9f9f9;
    }
    
    @media (min-width: $screen-medium) {
      display: none;
    }
  }
}