@charset 'UTF-8';

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.zoom-in {
  animation-name: zoom-in;
}

@keyframes zoom-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.zoom-out {
  animation-name: zoom-out;
}

.animation {
  animation-duration: .3s;
  animation-fill-mode: both;
}
