// stylesheets/_base.scss
// ----------------------
//
// @author  Natcha Luang - Aroonchai <me@nomkhonwaan.com>
// @created May 6, 2016
//

@charset 'UTF-8';

@import '~normalize.css';

$font-fixedWidth: 'Source Code pro', monospace;
$font-sansSerif: 'Noto Sans Thai', 'Noto Sans', sans-serif;

$fontsize-defaultSubTitle: 1.6rem;

$screen-small: 786px;
$screen-medium: 991px;
$screen-large: 1200px;

// Noto Sans
@font-face {
  font-family: 'Noto Sans';
  src: url('../../../static/fonts/NotoSans-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../../../static/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;  
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../../../static/fonts/NotoSans-Italic.ttf') format('truetype');
  font-style: italic; 
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../../../static/fonts/NotoSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic; 
}

// Noto Sans Thai
@font-face {
  font-family: 'Noto Sans Thai';
  src: url('../../../static/fonts/NotoSansThai-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Noto Sans Thai';
  src: url('../../../static/fonts/NotoSansThai-Bold.ttf') format('truetype');  
  font-weight: 700;
}

._left { text-align: left!important; }
._right { text-align: right!important; }
._center { text-align: center!important; }
._justify { text-align: justify!important; }

._unpadding { padding: 0!important; }
._unmargin { margin: 0!important; }

._pull-left { float: left!important; }
._pull-right { float: right!important; }

._stop-scrolling {
  height: 100%!important;
  overflow: hidden!important;
}

* {
  box-sizing: border-box;
}

html, body {
  background: #f9f9f9;
  font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
  font-size: 62.5%;
}

a, a:active, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'RSU', sans-serif;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}