@charset 'UTF-8';

.page-not-found,
.error {
  color: $theme-color;
  font-family: 'Prompt', sans-serif;
  font-size: 1.6rem;
  margin: 24px auto;
  text-align: center;

  @include breakpoint($md) {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}