@charset 'UTF-8';

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}

.posts {
  color: #4d4d4d;
  font-size: 1.3rem;
  margin: 12px;

  @include breakpoint($md) {
    margin-left: auto;
    margin-right: auto;
    width: 48%;
  }

  > .spinner {
    text-align: center;
    width: 70px;
    margin: 24px auto;

    @include breakpoint($md) {
      margin-top: 48px;
      margin-bottom: 48px;
    }

    > div {
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      background-color: $theme-color;
      border-radius: 100%;
      display: inline-block;
      height: 12px;
      margin: 0 .2rem;
      width: 12px;
    }

    > .bounce1 {
      animation-delay: -0.32s;
    }

    > .bounce2 {
      animation-delay: -0.16s;
    }
  }
}