@charset 'UTF-8';

.post {
  background: #fff;
  margin: 24px 0;

  .hljs {
    margin: 12px 0;
  }

  .hljs {
    border-radius: .2rem;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  }

  blockquote {
    border-left: 4px solid $theme-color;
    color: #999;
    font-style: italic;
    margin: 0;
    padding: 4px 8px 4px;
  }

  code {
    background: #002b36;
    border-radius: .2rem;
    color: #839496;
    font-size: 1.1rem;
    font-family: 'Source Code Pro', 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
    padding: .1rem .4rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    margin-top: 24px;
  }

  hr {
    border: none;
    border-top: 1px dashed #f3f3f3;
    margin: 23px 0 24px;
  }

  img {
    border: 1px solid #f3f3f3;
    border-radius: 0.2rem;
    display: block;
    margin: 12px auto;
    max-width: 100%;
    padding: 4px;
    transition: opacity .2s ease-in-out;

    @include breakpoint($md) {
      opacity: 0.8;
    }

    &:hover {
      opacity: 1;
    }
  }
}
