@charset 'UTF-8';

.layout-footer {
  align-items: center;
  background: #37474f;
  color: #f2f2f2;
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  height: 64px;
  justify-content: center;
}