@charset 'UTF-8';

@import '_variables';
@import '~normalize.css';
@import '~font-awesome/scss/font-awesome';
@import '~breakpoint-sass/stylesheets/_breakpoint';
@import url(https://fonts.googleapis.com/css?family=Prompt&subset=latin,thai);

* {
  box-sizing: border-box;
}

html, body {
  background: #f9f9f9;
  font-family: sans-serif;
  font-size: 62.5%;
}

a, 
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

#root, .preload {
  transition: opacity .4s ease-in-out,
              visibility .4s ease-in-out;
}

#root {
  opacity: 1;
  visibility: visible;
}

.preload {
  opacity: 0;
  visibility: hidden;
}

@import '_Author';
@import '_Footer';
@import '_Loading';
@import '_Nav';
@import '_NotFound';
@import '_Pagination';
@import '_Posts';
@import '_Post';
@import '_Single';
@import '_Summary';