@charset 'UTF-8';

@import './_main';

.pagination {
  align-items: center;
  color: #666;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: baseline;
  margin: 12px 0;

  @include breakpoint($md) {
    margin: 0 auto;
    width: 64%;
  }
  
  > .next,
  > .previous,
  > .counter {
    flex-grow: 1;
    font-size: 1.2rem;
    width: 33.33%;
  }

  > .next,
  > .previous {
    > a {
      background: #fff;
      border: 1px solid #ececec;
      border-radius: .2rem;
      cursor: pointer;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      margin: 12px;
      padding: 0 10px;
      transition: background .2s ease-in-out;

      &:hover {
        background: #f9f9f9;
      }
    }
  }
  
  > .counter {
    text-align: center;
  }
  
  > .next {
    text-align: right;
  }
}