@charset 'UTF-8';
@import 'Main';

.posts {
  color: #4d4d4d;
  font-size: 1.3rem;
  margin: 12px;
  
  @include breakpoint($md) {
    margin: 0 auto;
    width: 48%;
  }

  > .loading {
    text-align: center;

    > div {
      font-size: 1rem;
      margin-top: 8px;
      text-transform: uppercase;
    }
  }
}